@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "parislight";
	default: true;
	color-scheme: "light";

	--color-base-100: #9c646f;
	--color-base-200: #dac4c6;
	--color-base-300: #3a3c5b;

	--color-base-content: #d4cfcb;

	--color-primary: #3a3c5b;
	--color-primary-content: #ffffff;

	--color-secondary: #d677a5;
	--color-secondary-content: #3b0a24;

	--color-accent: #dea393;
	--color-accent-content: #fff1f8;

	--color-neutral: #b98dad;
	--color-neutral-content: #3b0a24;

	--color-info: #a4a2f5;
	--color-info-content: #211540;

	--color-success: #7ec89f;
	--color-success-content: #103e24;

	--color-warning: #f3d08d;
	--color-warning-content: #6a4500;

	--color-error: #e57979;
	--color-error-content: #4b0000;

	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
@plugin "daisyui/theme" {
	name: "parisdark";
	color-scheme: "dark";

	--color-base-100: #2b001b;
	--color-base-200: #3e0b26;
	--color-base-300: #5a1639;

	--color-base-content: #f5c1f0;

	--color-primary: #d677a5;
	--color-primary-content: #23010e;

	--color-secondary: #f0c9dc;
	--color-secondary-content: #3f1527;

	--color-accent: #bf41ae;
	--color-accent-content: #ffe8fb;

	--color-neutral: #b98dad;
	--color-neutral-content: #1b0d14;

	--color-info: #a4a2f5;
	--color-info-content: #0f0c2a;

	--color-success: #7ec89f;
	--color-success-content: #052d1b;

	--color-warning: #f3d08d;
	--color-warning-content: #3d2d00;

	--color-error: #e57979;
	--color-error-content: #3a0000;

	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
