@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
	themes:
		valentine --default,
		dark --prefersdark;
}

@plugin "daisyui/theme" {
	name: "parislight";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(89% 0.061 343.231);
	--color-base-200: oklch(97% 0.014 343.198);
	--color-base-300: oklch(0.69 0.1297 350.64);
	--color-base-content: oklch(0.37 0.1292 356.57);
	--color-primary: oklch(0.37 0.1292 356.57);
	--color-primary-content: oklch(0.87 0.0504 347.28);
	--color-secondary: oklch(45% 0.187 3.815);
	--color-secondary-content: oklch(0.87 0.0504 347.28);
	--color-accent: oklch(65% 0.241 354.308);
	--color-accent-content: oklch(0.37 0.1292 356.57);
	--color-neutral: oklch(0.37 0.1292 356.57);
	--color-neutral-content: oklch(0.87 0.0504 347.28);
	--color-info: oklch(0.47 0.1531 355.3);
	--color-info-content: oklch(0.87 0.0504 347.28);
	--color-success: oklch(0.37 0.1292 356.57);
	--color-success-content: oklch(0.87 0.0504 347.28);
	--color-warning: oklch(65% 0.241 354.308);
	--color-warning-content: oklch(0.37 0.1292 356.57);
	--color-error: oklch(65% 0.241 354.308);
	--color-error-content: oklch(0.37 0.1292 356.57);
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "parisdark";
	default: true;
	prefersdark: false;
	color-scheme: "dark";
	--color-base-100: oklch(20.768% 0.039 265.754);
	--color-base-200: oklch(0.37 0.1292 356.57);
	--color-base-300: oklch(17.86% 0.034 265.754);
	--color-base-content: oklch(0.87 0.0504 347.28);
	--color-primary: oklch(0.87 0.0504 347.28);
	--color-primary-content: oklch(0.37 0.1292 356.57);
	--color-secondary: oklch(0.69 0.1297 350.64);
	--color-secondary-content: oklch(0.37 0.1292 356.57);
	--color-accent: oklch(0.69 0.1297 350.64);
	--color-accent-content: oklch(0.37 0.1292 356.57);
	--color-neutral: oklch(27.949% 0.036 260.03);
	--color-neutral-content: oklch(0.87 0.0504 347.28);
	--color-info: oklch(0.87 0.0504 347.28);
	--color-info-content: oklch(0.37 0.1292 356.57);
	--color-success: oklch(0.87 0.0504 347.28);
	--color-success-content: oklch(0.37 0.1292 356.57);
	--color-warning: oklch(65% 0.241 354.308);
	--color-warning-content: oklch(0.37 0.1292 356.57);
	--color-error: oklch(65% 0.241 354.308);
	--color-error-content: oklch(0.37 0.1292 356.57);
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--height-75vh: 75vh;
	--height-50vh: 50vh;
	--height-25vh: 25vh;
}
